.promotion-section {
  overflow: hidden;
}

.promotion-section figure {
  position: relative;
  width: 500px;
  margin: 0;
  left: 0;
  animation: 20s promotion-section infinite
}

.promotion-section figure img {
  float: left;
  width: 20%;
}



 